#root {
  height: 100%;
}


body {
  margin: 0;
  height: 100%;
}

html {
  height: 100%;
}

.EarthquakePopup {
  font-family: sans-serif;
  font-size: 13px;
}

.EarthquakePopup h4 {
  margin: 0 0 px 0;
}

.EarthquakePopup p {
  margin: 0;
}